<section id="page-content">Hey</section>

<script id="vitaes-template" type="text/x-handlebars-template">
  <ul class="vitaes-link">
    {{#each this}}
      <li><a href="{{href}}">{{name}}</a></li>
    {{/each}}
  </ul>
</script>

<script id="vitae-template" type="text/x-handlebars-template">
  {{#each this}}
    <h2>{{name}}</h2>
    <p>{{objective}}</p>
    <p class="vitaes-path"><a href="#">All vitaes</a></p>
  {{/each}}
</script>

<%= javascript_include_tag "onepage" %>